
.content-text1{
    line-height: 2em;
}


/*HAMBURGER ENDS HERE */
.main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main-section;
    display: -ms-grid;
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas:
        "hero"
        "truth-rec-info"   
        "images"
        "img-quote"
}

#hero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12% auto 12%;
    grid-template-columns: 12% auto 12%;
    background-color: #252525;
    max-height: 600px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
}

#truth-rec-info {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-area: truth-rec-info;
    margin-top: 50px;
}

.truth-info-head {
    grid-column: 2/3;
}
.truth-info-text{
    grid-column: 2/3;
    margin-bottom: 50px;
    line-height: 3rem;
    padding-left: 50px;
}
.tagline{
    display:grid;
    grid-template-columns: 15% 1fr 15%;
    grid-column: 1/4;
}
.explore{
    grid-column: 2/3;
}


/*
#second-content {
    grid-area: second-content;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0;
}
*/

#img-quote {
    grid-area: img-quote;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    background: #00283C;
    color: white;

    
}

.images {
    grid-column: 2/3;
    display: grid;
    
    margin-top: 50px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-row: 5;
    -ms-grid-columns: 30% 30% 30%;
}

#img-quote>.images {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.img {
    width: 100%;
}

.img-left {
    margin: 0 5%;
    position: relative;
    -ms-grid-column: 1;
}
.span-text{
    position: absolute;
    height: 100%;  
    width: 100%;   
    top: -8px;   
    left: 0;
}
.text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    
 }
 .text p{
    color: white;
    /*border-bottom: solid 3px #9F895D;*/
    font-size: 26px;
}

.img-center {
    margin: 0 5%;
    -ms-grid-column: 2;
    position: relative;
}

.img-right {
    margin: 0 5%;
    -ms-grid-column: 3;
    position: relative;
}

.history-text {
    grid-column: 2/3;
    font-size: 18px;
    padding: 0 60px;
}

.quote {
    grid-column: 2/3;
    margin-bottom: 100px;
    color: #9F895D;
    border-bottom: 1px #9F895D solid;
    line-height: 1.8rem;
    padding: 0 60px;
}

#footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
}



.tagline {
    color: white;
    background-color: #9F895d;
}


/*CODE FOR HISTORY SECTION */


.history-text {

    line-height: 2.5em;

    margin-top: 40px;
    border-top: 1px #9F895D solid;

}

a img {
    width: 100%;
}



@media screen and (max-width: 780px) {
    
    .hero {
        -ms-grid-columns: ;
        grid-template-columns: auto;
    }
    .hero-img {
        width: 100%;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
    }
   


}


/* TABLET MEDIA QUERY */
@media screen and (max-width: 720px) {

    .hero {
        -ms-grid-columns: 12% auto 12%;
        grid-template-columns: auto;
    }

     

}

@media screen and (max-width: 480px) {

    .content-text1,
    .content-text2 {
        padding: 0 5%;
    }
}