
/*************************************************/
         /*UNIQUE MAIN GRID STYLES START HERE*/
/************************************************/
#main-section{

    display:grid;
    grid-template-columns: 22% 1fr 22%;
}
@media screen and (max-width:920px){
    #main-section {
        grid-template-columns: 12% 1fr 12%;
    }
}

@media screen and (max-width: 780px) {
    #main-section {
        grid-template-columns: 12% 1fr 12%;

    }
}

@media screen and (max-width:480px){
    #main-section {
        grid-template-columns: 10% 1fr 10%;
    }
}
#main-content{
    grid-column: 2/3;  
}

/*************************************************/
         /*UNIQUE MAIN GRID STYLES END HERE*/
/************************************************/

/*
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right:0;
    left:0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color:#252525;
    color:white;
    height:50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;
    
}

.alachua-info{
    font-size: 15px;
    color:white;
   
}
*/